In [1]:
import numpy as np

student = np.array([67, 78, 92, 74, 65])
student[0]
student[4]
student

array([67, 78, 92, 74, 65])

In [2]:
import pandas as pd

s1 = pd.Series([67, 78, 92, 74, 65],index=['國文', '英文', '數學', '地理', '歷史'])
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [3]:
s1 + 3

國文    70
英文    81
數學    95
地理    77
歷史    68
dtype: int64

In [4]:
s1['國文'] #使用key-index
s1[0] #使用原生-index

/tmp/ipykernel_51958/3821365550.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0] #使用原生-index

67

In [6]:
for i in s1:
    print(i)

67
78
92
74
65

In [7]:
#numpy的統計,可以套用在pandas
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [8]:
#利用numpy的function做統計
np.sum(s1)

376

In [9]:
np.mean(s1)

75.2

In [10]:
np.std(s1)

9.620810776644555

In [ ]:
np.median(s1)

In [11]:
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [12]:
import pandas as pd
pd.DataFrame({
    "徐國堂":[78, 92, 76, 91, 72],
    "王xx":[72, 81, 92, 94, 69],
    "張xx":[81, 65, 89, 81, 72],
},index=['國文', '英文', '數學', '地理', '歷史'])

    徐國堂  王xx  張xx
國文   78   72   81
英文   92   81   65
數學   76   92   89
地理   91   94   81
歷史   72   69   72

In [13]:
import numpy as np
import pandas as pd

data = np.random.randint(60,high=100,size=(50,5))
pd.DataFrame(data,
             index = range(1,51),
             columns=['國文', '英文', '數學', '地理', '歷史']
             )

    國文  英文  數學  地理  歷史
1   66  83  61  94  78
2   74  90  99  81  70
3   96  80  95  85  61
4   73  60  92  83  88
5   77  85  79  86  72
6   70  95  87  65  93
7   72  75  95  91  77
8   76  99  79  99  95
9   80  92  67  72  90
10  79  88  86  82  89
11  64  74  96  84  69
12  83  95  63  85  76
13  91  98  63  61  63
14  80  94  72  76  92
15  87  80  61  72  99
16  97  88  70  86  71
17  62  90  63  94  63
18  72  93  88  63  63
19  90  99  70  63  97
20  94  84  74  90  79
21  90  76  66  99  92
22  96  60  94  79  66
23  69  91  94  97  65
24  77  91  61  91  70
25  83  70  88  73  78
26  86  77  67  99  75
27  74  96  99  63  88
28  78  82  78  73  83
29  86  70  62  84  96
30  76  65  85  74  89
31  67  87  88  93  75
32  76  75  96  92  60
33  98  62  68  72  63
34  83  89  81  73  88
35  70  77  93  66  81
36  90  92  62  97  92
37  88  63  72  97  82
38  91  65  92  69  94
39  73  68  82  88  76
40  74  61  89  67  61
41  78  62  73  64  78
42  82  83  96  97  72
43  86  94  71  62  87
44  93  86  95  77  82
45  63  88  88  61  87
46  93  80  61  92  97
47  78  84  91  61  66
48  90  94  68  98  61
49  77  76  66  89  81
50  96  96  76  76  95